<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
	<classPathEntry
		location="d://maven//repository//mysql//mysql-connector-java//5.1.18//mysql-connector-java-5.1.18.jar" />
	<context id="mysqlTable" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true" />
		</commentGenerator>
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://192.168.210.33:3306/sch" userId="root"
			password="888888">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<javaModelGenerator targetPackage="com.htxx.scheduling.pojo"
			targetProject="scheduled_web/test">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="mybatis.xml"
			targetProject="scheduled_web/test">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>
		<table tableName="admin" enableCountByExample="false"
			enableUpdateByExample="false" enableDeleteByExample="false">
		</table>
		
	</context>
</generatorConfiguration>